# --- OS Specific Files ---
.DS_Store
Thumbs.db

# --- Ant Build Outputs ---
build/
dist/

# --- NetBeans Internal Configuration ---
nbproject/private/

# --- Java Crash Logs ---
*.log
*.class

# --- Java Libraries ---
lib/

# --- Database Files ---
*.dat

.claude
Assignment_Instruction&Information
CLAUDE.md
test
test.bat
